Tests:
 test_find_item_in_list,
 test_find_item_in_list_bash,
 test_find_item_in_list_dash,
 test_find_item_in_list_zsh,
 test_im_config_d,
 test_im_config_d_bash,
 test_im_config_d_dash,
 test_im_config_description_bash,
 test_im_config_description_dash,
 test_im_config_description_zsh,
 test_im_config_d_zsh,
 test_im_config_p,
 test_im_config_p_bash,
 test_im_config_p_dash,
 test_im_config_p_zsh,
 test_im_config_w,
 test_im_config_w_bash,
 test_im_config_w_dash,
 test_im_config_w_zsh,
 test_read_variable_from_file_bash,
 test_read_variable_from_file_dash,
 test_read_variable_from_file_zsh,
 test_syntax_bash,
 test_syntax_dash,
 test_syntax_zsh,
Depends:
 ibus,
 zenity,
 bash,
 zsh,
 @,
