Source: im-config
Section: utils
Priority: optional
Maintainer: Debian Input Method Team <debian-input-method@lists.debian.org>
Uploaders:
 Boyuan Yang <byang@debian.org>,
 Osamu Aoki <osamu@debian.org>,
Build-Depends:
 debhelper-compat (= 13),
# gnome-pkg-tools pulls dh-translations on Ubuntu
 gnome-pkg-tools,
Standards-Version: 4.7.4
Rules-Requires-Root: no
Homepage: https://salsa.debian.org/input-method-team/im-config
Vcs-Git: https://salsa.debian.org/input-method-team/im-config.git
Vcs-Browser: https://salsa.debian.org/input-method-team/im-config

Package: im-config
Architecture: all
Multi-Arch: foreign
Depends:
 gettext-base,
 ${misc:Depends},
Recommends:
 x11-common,
 zenity | kdialog | kde-baseapps-bin (<< 4:16.08.3-2~) | whiptail,
Conflicts:
 im-switch,
Provides:
 im-switch,
Description: Input method configuration framework
 For older X11 based GUI desktop environments, this im-config package provides
 the framework to configure and to switch the input method framework.
 .
 For newer Wayland based GUI desktop systems, this im-config package can be
 safely removed.  These desktop environments should configure their input
 method configuration.
 .
 The input method is the essential mechanism for Japanese, Chinese and Korean
 (CJK) languages to enter their non-ASCII native characters.
 .
 Many modern input methods such as IBus support not only one of these CJK
 languages but support almost all languages simultaneously by
 dynamically switching keyboard modes with GUI helper program.
 .
 By installing this package, the most desirable input method and its
 backend conversion engine are automatically configured with both the X
 Window System Input Method (XIM), GTK input method module, Qt input
 method module, and clutter input method module.
 .
 You can further customize your input method with 'im-config' command.
